include commands/lcmon-alarm-changelog-list
include commands/lcmon-alarms-delete
include commands/lcmon-alarms-list
include commands/lcmon-audits-list
include commands/lcmon-check-types-list
include commands/lcmon-checks-create
include commands/lcmon-checks-delete
include commands/lcmon-checks-list
include commands/lcmon-checks-update
include commands/lcmon-entities-create
include commands/lcmon-entities-delete
include commands/lcmon-entities-list
include commands/lcmon-entities-update
include commands/lcmon-limits-list
include commands/lcmon-monitoring-zones-list
include commands/lcmon-notification-plans-delete
include commands/lcmon-notification-plans-list
include commands/lcmon-notifications-delete
include commands/lcmon-notifications-list
include commands/lcmon-views-overview
